<?xml version="1.0" encoding="UTF-8"?>
<work>
    <event>		               
        <title type="text">Programing</title>        
        <icon type="text">work_programing</icon>
    </event>
    <event>
        <title type="text">Cleaning</title>
        <icon type="text">work_cleaning</icon>
    </event>    
    <event>
    	<title type="text">Homework</title>
    	<icon type="text">work_homework</icon>
   	</event> 	
   	<event>
    	<title type="text">Summary</title>
    	<icon type="text">work_summary</icon>
   	</event> 	   
</work>

<play>
 	<event>
    	<title type="text">Movie</title>
    	<icon type="text">play_movie</icon>
   	</event> 	    	
</play>